@font-face {
    font-family: "PlusJakartaSans";
    src: url('fonts/PlusJakartaSans-VariableFont_wght.ttf');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: hsl(211, 68%, 94%);
    font-family: "PlusJakartaSans";
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    background: hsl(0, 0%, 100%);
    margin: 3vh auto 0;
    height: 91vh;
    width: 41vw;
    border-radius: 10px;
    box-shadow: 1px 1px 16px hsla(219, 14%, 63%, 0.6);
    padding: 16px 40px 6px 40px;
    overflow: auto;
}

.notifications-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 6px 0;
}

.notifications-count p {
    display: inline-block;
    font-weight: 800;
}

.header-title {
    font-size: 1.25em;
    margin-right: 0.4vw;
    color: hsl(224, 21%, 14%);
}

.count {
    font-size: 1em;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    background-color: hsl(219, 85%, 26%);
    padding: 3px 7px;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    min-width: 1.5em;
}

.notifications-read p {
    font-weight: 500;
    color: hsl(219, 12%, 42%);
}

.notifications-read p:hover {
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}

.notifications-read p:focus {
    color: hsl(219, 85%, 26%);
}

.notifications-element {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    padding: 9px 12px;
    border-radius: 8px;
    width: calc(100% - 20px);
}

.notifications-element img {
    width: 44px;
    height: 44px;
    margin-right: 15px;
}

.img-chess {
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.img-chess:hover, .img-chess:focus {
    border-radius: 8px;
    box-shadow: 0px 0px 1px 2px hsl(205, 33%, 90%);
}

.element-body {
    flex: 1;
}

.user {
    font-weight: 800;
    color: hsl(224, 21%, 14%);
}

.user:hover, .user:focus {
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}

.target {
    font-weight: 800;
    color: hsl(219, 12%, 42%);
}

.target:hover, .target:focus {
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}

.action {
    font-weight: 500;
    color: hsl(219, 12%, 42%);
}

.state p {
    margin: 0;
    display: inline;
}

.date {
    color: hsl(219, 12%, 42%);
    font-size: 0.9em;
    margin-top: 5px;
}

.unread {
    background-color: hsl(210, 60%, 98%);

}

.message {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid hsl(205, 33%, 90%);
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(219, 12%, 42%);
    font-size: 0.95em;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

.message:hover, .message:focus {
    background-color: hsl(211, 68%, 94%);
}

.dot {
    content: "";
    width: 8px;
    height: 8px;
    margin-left: 3px;
    margin-bottom: 1px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(255,0,0,0.7);
}

@media screen  and (max-width: 720px) {
    .container {
        min-width: 375px;
    }
    
}